* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    width: 100%;
    background-color: rgb(15,15,15);
    color: #e3e3e3;
    font-family: sans-serif;
}

code {
    padding: 0 4px;
    background-color: gray;
    color: darkblue;
}

.container {
    margin-top: 40px;
}

.row {
    margin-bottom: 20px;
}

.row:last-child {
    margin-bottom: 0px;
}
